@import "tailwindcss";

@theme {
  --color-sherry-50: #FFF3E0;
  --color-sherry-100: #FFE0B2;
  --color-sherry-200: #FFCC80;
  --color-sherry-300: #FFB74D;
  --color-sherry-400: #FFA726;
  --color-sherry-500: #FF8A65;
  --color-sherry-600: #FB8C00;
  --color-sherry-700: #F57C00;
  --color-sherry-800: #EF6C00;
  --color-sherry-900: #E65100;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #f5f5f5;
  color: #333;
}
